@import 'styles/app',
        'styles/bootstrap_v3_custom',
        'styles/bootstrap_v3_without_icons',
        'styles/colors',
        'styles/variables';

// Enable to include font-awesome
// ******************************
// $fa-font-path: '~font-awesome/fonts';
// @import '~font-awesome/scss/font-awesome.scss';

#oc-examples {
  height: 100%;

  .row {
    margin: 10px 0 5px 0;
  
    label {
      margin-bottom: 0;
    }
  }
}